#main-content {
    padding: 56px 158px;
}

.clickable {
    cursor: pointer;
}

.header-main {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
}

#add-task {
    margin-top: 36px;
    margin-left: 24px;
}

#tasks {
    border-top: 1px solid lightgray;
}

.task-field {
    margin-top: 12px;
}

.project-field form {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 14px;
    padding: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.task-field form {
    width: 100%;
    display: grid;
    gap: 22px;
    grid-template-columns: 5fr auto auto 1fr auto;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 14px;
    padding: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input, select, form button {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border: 2px solid lightgray;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 14px;
    font-family: Poppins;
}

.task-item {
    display: flex;
    align-items: center;
    gap: 14px;
    width: 100%;
    padding: 24px 0;
    font-size: 18px;
    border-bottom: 1px solid lightgray;
}

.task-text {
    flex-grow: 1;
}

#high, #close, #close-project {
    color: rgb(207, 18, 18);
}

#medium {
    color: rgb(6, 52, 202);
}

#low {
    color: rgba(169, 179, 174, 0.87);
}

#project-name {
    flex: 1;
}
